<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
          <link href="{{ asset('stride/assets/css/azia.css')}}" rel="stylesheet">
          <link href="https://cdnjs.cloudflare.com/ajax/libs/typicons/2.0.9/typicons.css" rel="stylesheet">
        {% endblock %}
    </head>
    <body class="az-body">
      <div class="az-signin-wrapper">
        <div class="az-card-signin">
          <h1 class="az-logo">str<span>i</span>de</h1>
          <div class="az-signin-header">
            <h2>Welcome back!</h2>
            <h4>Please sign in to continue</h4>
            {% if error %}
                <p style="color:red;">{{ error.messageKey|trans(error.messageData, 'security') }}</p>
            {% endif %}

            <form action="{{ path('user_login') }}" method="POST">
              <div class="form-group">
                <label>Username</label>
                <input type="text" class="form-control" name="_username" placeholder="Enter your username" value='{{ username }}'>
              </div><!-- form-group -->
              <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" name="_password" placeholder="Enter your password">
              </div><!-- form-group -->
              <button class="btn btn-az-primary btn-block" type='submit'>Sign In</button>
            </form>
          </div><!-- az-signin-header -->
          <div class="az-signin-footer">
            <p><a href="{{ path('forgot_password')}}">Forgot password?</a></p>
          </div><!-- az-signin-footer -->
        </div><!-- az-card-signin -->
      </div><!-- az-signin-wrapper -->
    </body>
</html>
